<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/llh.css">
     <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/fa-svg-with-js.css">
    <script type="text/javascript" src="__PUBLIC__/front/js/jquery.js"></script>
     <script type="text/javascript" src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/framework7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/fontawesome-all.min.js"></script>
    <style>
    </style>
  </head>
  <body>
  <div class="navbar whiteBGColor">
          <div class="navbar-inner">
            <div class="left">
                <a href="javascript:history.go(-1)" class="external grayColor"><i class="fas fa-arrow-left fa-lg"></i></a>
            </div>
            <div class="center sliding">图片详情</div>
            <div class="right">
                
            </div>
          </div>
        </div>
  <div class="rich_media_inner">
                        
        
        <div id="page-content" class="rich_media_area_primary">
            
                        <div id="img-content">
                
                <h2 class="rich_media_title" id="activity-name">
                    壁纸   |   宫崎骏动漫                                    </h2>
                <div id="meta_content" class="rich_media_meta_list">
                                                            <em id="post-date" class="rich_media_meta rich_media_meta_text">2017-12-01</em>

                                        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="##" id="post-user">MOVIE电影记</a>
                    <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">MOVIE电影记</span>


                    
                </div>
                <div class="rich_media_content " id="js_content" deep="4">
                    
                    <p style="white-space: normal;text-align: center;"><span style="font-size: 12px;">“愿你每一天的成长都有我们相伴</span></p><p style="white-space: normal;text-align: center;"><span style="font-size: 12px;">直到最后你变成了自己最向往的模样”</span></p>
                </div>
                
                <div class="imglist">
                    <img src="__PUBLIC__/front/img/tu1.jpg" />
                    <img src="__PUBLIC__/front/img/tu2.jpg" />
                    <img src="__PUBLIC__/front/img/tu3.jpg" />
                    <img src="__PUBLIC__/front/img/tu4.jpg" />
                    <img src="__PUBLIC__/front/img/tu5.jpg" />
                </div>
                
                  <p style="text-indent: 28px; line-height: 1.75em;"><span style=";font-family:宋体;font-size:14px">&nbsp;</span></p><hr><p><br></p><p><br></p>          
             </div>   
        </div>
    </div>
     <!-- Bottom Toolbar-->
        
             
  </body>
</html>