<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/llh.css">
     <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/fa-svg-with-js.css">
    <script type="text/javascript" src="__PUBLIC__/front/js/jquery.js"></script>
     <script type="text/javascript" src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/framework7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/fontawesome-all.min.js"></script>
    <style>
    </style>
  </head>
  <body>
  <div class="navbar whiteBGColor">
          <div class="navbar-inner">
            <div class="left">
                <a href="javascript:history.go(-1)" class="external grayColor"><i class="fas fa-arrow-left fa-lg"></i></a>
            </div>
            <div class="center sliding">文章列表</div>
            <div class="right">
                
            </div>
          </div>
        </div>
     <div id="js_plugins" style="visibility: visible;">
      <div class="article_list js_plugin" id="namespace_0" data-pid="3">
  
  <a class="list_item js_post" href="wenxiang.html">
    <div class="cover">
      <img class="img js_img" src="__PUBLIC__/front/img/wenzhang1.jpg" alt="">
    </div>
    <div class="cont">
      <h2 class="title js_title">那年我在工地</h2>
      <p class="desc">我相信，总有一天，王叔会回来的。</p>
    </div>
  </a>
  
  <a class="list_item js_post" href="wenxiang.html">
    <div class="cover">
      <img class="img js_img" src="__PUBLIC__/front/img/wenzhang2.jpg" alt="">
    </div>
    <div class="cont">
      <h2 class="title js_title">老四的爱情</h2>
      <p class="desc">小心翼翼的收藏着，
这就是，青春。</p>
    </div>
  </a>
  
  <a class="list_item js_post" href="wenxiang.html">
    <div class="cover">
      <img class="img js_img" src="__PUBLIC__/front/img/wenzhang3.jpg" alt="">
    </div>
    <div class="cont">
      <h2 class="title js_title">【故事】未曾发生的事</h2>
      <p class="desc">我一直想着，有一天能和你在一起。</p>
    </div>
  </a>
  
  <a class="list_item js_post" href="wenxiang.html">
    <div class="cover">
      <img class="img js_img" src="__PUBLIC__/front/img/wenzhang4.jpg" alt="">
    </div>
    <div class="cont">
      <h2 class="title js_title">【故事】未曾发生的事</h2>
      <p class="desc">我一直想着，有一天能和你在一起。</p>
    </div>
  </a>
  
  <a class="list_item js_post" href="wenxiang.html">
    <div class="cover">
      <img class="img js_img" src="__PUBLIC__/front/img/wenzhang5.jpg" alt="">
    </div>
    <div class="cont">
      <h2 class="title js_title">【小说】我要做主角！</h2>
      <p class="desc">我们渺小的主人公有一个伟大的梦想，就是做一回武侠小说里的主角，
但，这注定是一个悲催的故事。</p>
    </div>
  </a>
  
</div>
    </div>
    <!-- Bottom Toolbar-->
        
  </body>
</html>