<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/llh.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <style>
      .pop{
        display: none;
      }
    </style>
  </head>
  <body>
     <div class="fabu">
      <div class="one">
         <div class="le"><a href="javascript:history.go(-1)">返回</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布文章</div>
         <div class="ri"><a href="">发布</a></div>
      </div>
      <div class="clear"></div>
       <div>
         <form class="form">
           <p><a href=""><img src="img/feng.jpg"></a></p>
           <input type="text" placeholder="请输入标题" value=""  class="title" />
           <textarea rows="5" cols="20" placeholder="请输入正文" class="con"></textarea>
         </form>
       </div>
     </div>
  </body>
</html>