/******
  WYW
******/
/*********
*背景颜色
*********/
.redBGColor{
	background: #ea4027;
}
.whiteBGColor{
	background: #ffffff;
}
/*facebook-card*/
.card-header{
	height: 54px;
}
.fb{
	float: left;
	width: 216px;
}
.followBtn{
	width: 64px;
	float: right;
	margin-top: 3px;
	color: #ea4027;
	border-color: #ea4027;
}
.facebook-card .card-header {
display: block;
padding: 10px;
}

.facebook-card .facebook-avatar {
	float: left;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.facebook-avatar img{
	width: 34px;
	height: 34px;
}
.facebook-card .facebook-name {
margin-left: 44px;
font-size: 14px;
font-weight: 500;
}
.facebook-card .facebook-date {
margin-left: 44px;
font-size: 13px;
color: #8e8e93;
}
.facebook-card .card-footer {
background: #fafafa;
}
.facebook-card .card-footer a {
color: #81848b;
font-weight: 500;
}
.facebook-card .card-content img {
display: block;
width: 100%;
padding-bottom: 10px;
}
.facebook-card .card-content-inner {
padding: 15px 10px;
}
/*********
*字体大小
*********/
.font20{
	font-size: 20px;
	line-height: 16px;
}
.font18{
  font-size: 18px;
}
.font16{
	font-size: 16px;
}
.font13{
  font-size: 13px;
}
.font11{
	font-size: 11px;
}
/*********
*字体颜色
*********/
.grayColor{
	color: #959595;
}
.bgColor{
	color: #333;
}
.redColor{
	color: #ea4027;
}
.blackColor{
	color: #212121;
}
/*********
*文本居中
*********/
.textCenter{
	text-align:center;
}
/*
my.html页
下边框设置
*/
.borderBom{
	border-bottom-style:solid;
	border-width:thin;
	border-color: #E0E0E0;
}
/*********
*圆形图片
*********/
.imgCircle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%; /* IE 9 */
	-webkit-border-radius:50%; /* Safari and Chrome */
	-o-border-radius:50%;/* Opera */
	/*overflow: hidden;*/
	/*background: url('../images/user.jpg');
	background-size: 100%;*/
}
/*********
*音乐播放
*********/


/*********
*居中设置
*********/
.textCenter{
	text-align: center;
}
/*********
*音乐进度条
*********/
#rateSpace{
/*position:relative;*/
	width:100%;
	height:5px;
	top:-5px;
	background-color:  #bdbdbd;
	margin-top: 17%
}
#musicRate{
	float: left;
	z-index:10px;
	height: 5px;
	background-color: #FF5722;
	border-right:2px solid  #FF5722;
}
#rateId{

}
#starTime{
	margin-top: 10%
}
#endTime{
margin-top: 10%
}