<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/fa-svg-with-js.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="__PUBLIC__/front/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/front/css/llh.css">
</head>
<body>
<!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Views-->
    <div class="views whiteBGColor">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main whiteBGColor">
        <!-- Top Navbar-->
        <div class="navbar whiteBGColor">
          <div class="navbar-inner">
          	<div class="left">
          		<a href="javascript:history.go(-1)" class="external grayColor"><i class="fas fa-arrow-left  fa-lg"></i></a>
          	</div>
            <div class="center sliding">音乐列表</div>
            <div class="right"></div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through whiteBGColor">
	        <div class="page-content">
	        	<div class="list-block">
				  <ul>
					<li>
					  	<div class="row list-block media-list" style="border-bottom-style:solid;border-width:thin;border-color: #E0E0E0;margin-bottom:1px">
		                  <div class="col-5"></div>
		                  <div class="col-33">
		                    <img src="__PUBLIC__/front/img/2.jpg" width="100%" class="userImg">
		                  </div>
		                  <div class="col-50">
		                    <p>93年韩国女歌手IU的致姓名，打动人心</p>
		                  </div>
		                  <div class="col-5" style="padding-top:10%">
		                    <a href="musicContent.html" class="grayColor"><i class="fas fa-angle-right  fa-2x"></i></a>
		                  </div>
		                  <div class="col-10"></div>
		                </div>
		            </li>
		            <li>
					  	<div class="row list-block media-list" style="border-bottom-style:solid;border-width:thin;border-color: #E0E0E0;margin-bottom:1px">
		                  <div class="col-5"></div>
		                  <div class="col-33">
		                    <img src="__PUBLIC__/front/img/2.jpg" width="100%" class="userImg">
		                  </div>
		                  <div class="col-50">
		                    <p>93年韩国女歌手IU的致姓名，打动人心</p>
		                  </div>
		                  <div class="col-5" style="padding-top:10%">
		                    <a href="" class="grayColor"><i class="fas fa-angle-right  fa-2x"></i></a>
		                  </div>
		                  <div class="col-10"></div>
		                </div>
		            </li>
		            <li>
					  	<div class="row list-block media-list" style="border-bottom-style:solid;border-width:thin;border-color: #E0E0E0;margin-bottom:1px">
		                  <div class="col-5"></div>
		                  <div class="col-33">
		                    <img src="__PUBLIC__/front/img/2.jpg" width="100%" class="userImg">
		                  </div>
		                  <div class="col-50">
		                    <p>93年韩国女歌手IU的致姓名，打动人心</p>
		                  </div>
		                  <div class="col-5" style="padding-top:10%">
		                    <a href="" class="grayColor"><i class="fas fa-angle-right  fa-2x"></i></a>
		                  </div>
		                  <div class="col-10"></div>
		                </div>
		            </li>
		            <li>
					  	<div class="row list-block media-list" style="border-bottom-style:solid;border-width:thin;border-color: #E0E0E0;margin-bottom:1px">
		                  <div class="col-5"></div>
		                  <div class="col-33">
		                    <img src="__PUBLIC__/front/img/2.jpg" width="100%" class="userImg">
		                  </div>
		                  <div class="col-50">
		                    <p>93年韩国女歌手IU的致姓名，打动人心</p>
		                  </div>
		                  <div class="col-5" style="padding-top:10%">
		                    <a href="musicPlay.html" class="grayColor"><i class="fas fa-angle-right  fa-2x"></i></a>
		                  </div>
		                  <div class="col-10"></div>
		                </div>
		            </li>
				  </ul>
				</div>
			</div>
		</div>
      </div>
    </div>

<!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="__PUBLIC__/front/js/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/framework7.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/front/js/fontawesome-all.min.js"></script>
     <script type="text/javascript">
      $(document).ready(function(){
        //实现用户头像正方形
        var imgWidth = $(".userImg").width();
        $(".userImg").height(imgWidth);
      })
    </script>
</body>
</html>